.mode-item {
  span {
    width: 18px;
    display: inline-block;
    text-align: center;
    border: 1px solid #eee;
    color: #999;
    margin-right: 5px;
  }
  input[type="text"] {
    width: 40px;
    width: 78px;
    margin: 0 5px;
  }
}